<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xiaocanMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72DA17921DC340B300FF56FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72DA17AB1DC340B500FF56FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72DA17B61DC340B600FF56FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
